<div class="absolute top-0 left-72 m-3 w-4/6 min-h-[58.5vh] px-20">
  <h1 class="text-4xl text-denim pt-8 font-bold">Finishing up</h1>
  <p class="text-base text-grey mt-1.5">
    Double-check everything looks OK before confirming.
  </p>
  <div class="flex flex-col gap-4 mt-6">
    <div class="bg-veryLightGrey p-6 rounded-lg">
      <div class="flex justify-between items-center">
        <div>
          <h1 class="text-denim text-base font-semibold mb-1">
            Arcade (Monthly)
          </h1>
          <p class="text-grey text-sm underline">Change</p>
        </div>
        <p class="text-denim text-base font-bold">$9/mo</p>
      </div>
      <hr class="my-6" />
      <div>
        <p class="flex justify-between items-center text-grey text-sm mb-4">
          Online service <span class="text-denim">+$1/mo</span>
        </p>
        <p class="flex justify-between items-center text-grey text-sm">
          Local storage <span class="text-denim">+$2/mo</span>
        </p>
      </div>
    </div>
    <p class="flex justify-between items-center text-grey text-sm p-6">
      Total (per month)
      <span class="text-purple text-xl font-bold">+$12/mo</span>
    </p>
  </div>
</div>
