<div class="absolute top-0 left-72 m-3 w-4/6 min-h-[58.5vh] font-primary px-20">
  <h1 class="text-4xl text-denim pt-8 font-bold">Personal info</h1>
  <p class="text-base text-grey mt-1.5">
    Please provide your name, email address, and phone number.
  </p>
  <form class="flex flex-col gap-6 mt-6">
    <div class="flex flex-col gap-1">
      <label for="" class="text-sm text-denim"> Name </label>
      <input
        type="text"
        class="p-3 placeholder:text-grey placeholder:font-medium border border-lightGrey rounded-lg"
        placeholder="e.g. Stephen King"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="" class="text-sm text-denim"> Email Adress </label>
      <input
        type="text"
        class="p-3 placeholder:text-grey border placeholder:font-medium border-lightGrey rounded-lg"
        placeholder="e.g. stephenking@lorem.com"
      />
    </div>
    <div class="flex flex-col gap-2">
      <label for="" class="text-sm text-denim"> Phone Number </label>
      <input
        type="text"
        class="p-3 placeholder:text-grey placeholder:font-medium border border-lightGrey rounded-lg"
        placeholder="e.g. +1 234 567 890"
      />
    </div>
  </form>
</div>
