<div class="absolute top-0 left-72 m-3 w-4/6 min-h-[58.5vh] px-20">
  <h1 class="text-4xl text-denim pt-8 font-bold">Select your plan</h1>
  <p class="text-base text-grey mt-1.5">
    You have the option of monthly or yearly billing.
  </p>
  <div class="mb-4 mt-10 flex gap-4">
    <div class="p-4 border border-lightGrey rounded-xl cursor-pointer w-40">
      <img
        class="mb-12"
        src="../../../assets/images/icon-arcade.svg"
        alt="arcade"
      />
      <h1 class="text-base text-denim font-semibold mb-1">Arcade</h1>
      <p class="text-sm text-grey">$9/mo</p>
    </div>
    <div class="p-4 border border-lightGrey rounded-xl cursor-pointer w-40">
      <img
        class="mb-12"
        src="../../../assets/images/icon-advanced.svg"
        alt="advanced"
      />

      <h1 class="text-base text-denim font-semibold mb-1">Advanced</h1>
      <p class="text-sm text-grey">$12/mo</p>
    </div>
    <div class="p-4 border border-lightGrey rounded-xl cursor-pointer w-40">
      <img class="mb-12" src="../../../assets/images/icon-pro.svg" alt="pro" />
      <h1 class="text-base text-denim font-semibold mb-1">Pro</h1>
      <p class="text-sm text-grey">$15/mo</p>
    </div>
  </div>
  <div class="bg-veryLightGrey flex justify-center items-center gap-4 p-3 mt-8">
    <h1 class="text-denim text-xs font-bold">Monthly</h1>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    <h1 class="text-grey text-xs font-bold">Yearly</h1>
  </div>
</div>
